.video__iframes {
  width: 1050px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 515px 316px);
  grid-column-gap: 20px;
  margin: 0 auto;
  position: relative;
  bottom: -50px;
  z-index: 1;
}
