.footer__column-link{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  word-spacing: 10px;
  opacity: 1;
  transition: opacity .2s ease .1s;
}

.footer__column-link:hover {
  opacity: .4;
}
