@import "../vendor/normalize.css";

/*page*/

@import "../blocks/page/page.css";

/*header*/

@import "../blocks/header/header.css";
@import "../blocks/header/logo/_place/logo_place_header.css";
@import "../blocks/header/__title/header__title.css";
@import "../blocks/header/__subtitle/header__subtitle.css";
@import "../blocks/header/__link/header__link.css";
@import "../blocks/header/__main-illustration/header__main-illustration.css";
@import "../blocks/header/__square-pic/header__square-pic.css";
@import "../blocks/rotation/rotation.css";

/*description*/

@import "../blocks/description/description.css";
@import "../blocks/description/two-columns/two-columns.css";
@import "../blocks/description/two-columns/__brief/two-columns__brief.css";
@import "../blocks/description/two-columns/__main-text/two-columns__main-text.css";
@import "../blocks/description/two-columns/__paragraph/two-columns__paragraph.css";
@import "../blocks/description/two-columns/__span-accent/two-columns__span-accent.css";

/*techniques*/

@import "../blocks/techniques/techniques.css";
@import "../blocks/digits/section-title/section-title.css";
@import "../blocks/digits/section-subtitle/section-subtitle.css";
@import "../blocks/techniques/cards/cards.css";
@import "../blocks/techniques/cards/__item/cards__item.css";
@import "../blocks/techniques/cards/__image/cards__image.css";
@import "../blocks/techniques/cards/__title/cards__title.css";
@import "../blocks/techniques/cards/__discription/card__description.css";

/*video*/

@import "../blocks/video/video.css";
@import "../blocks/digits/section-title/section-title.css";
@import "../blocks/digits/section-subtitle/section-subtitle.css";
@import "../blocks/video/__iframes/video__iframes.css";
@import "../blocks/video/__iframe/video__iframe.css";

/*oakley*/

@import "../blocks/oakley/oakley.css";
@import "../blocks/description/two-columns/two-columns.css";
@import "../blocks/description/two-columns/__brief/two-columns__brief.css";
@import "../blocks/description/two-columns/__main-text/two-columns__main-text.css";
@import "../blocks/description/two-columns/__paragraph/two-columns__paragraph.css";

/*feynman*/

@import "../blocks/feynman/feynman.css";
@import "../blocks/feynman/__title/feynman__title.css";
@import "../blocks/feynman/__subtitle/feynman__subtitle.css";
@import "../blocks/feynman/__link/feynman__link.css";

/*digits*/

@import "../blocks/digits/digits.css";
@import "../blocks/digits/section-title/section-title.css";
@import "../blocks/digits/section-subtitle/section-subtitle.css";
@import "../blocks/digits/table/table.css";
@import "../blocks/digits/table/__cell/table__cell.css";
@import "../blocks/digits/table/__heading/table__heading.css";
@import "../blocks/digits/table/__text/table__text.css";

/*khan*/

@import "../blocks/khan/khan.css";
@import "../blocks/khan/__container/khan__container.css";
@import "../blocks/khan/__author/khan__author.css";
@import "../blocks/khan/__title/khan__title.css";
@import "../blocks/khan/__quote/khan__quote.css";
@import "../blocks/khan/__quote-author/khan__quote-author.css";
@import "../blocks/khan/__quote-author-subline/khan__quote-author-subline.css";
@import "../blocks/khan/__book-container/khan__book-container.css";
@import "../blocks/khan/__book-pic/khan__book-pic.css";
@import "../blocks/khan/__buy-link/khan__buy-link.css";


/*kaufman*/

@import "../blocks/kaufman/kaufman.css";
@import "../blocks/digits/section-title/_theme/section-title_theme_dark.css";
@import "../blocks/digits/section-subtitle/_theme/section-subtitle_theme_dark.css";
@import "../blocks/digits/table/_theme/table_theme_dark.css";
@import "../blocks/digits/table/__cell/_theme/table__cell_theme_dark.css";
@import "../blocks/kaufman/__triangle/kaufman__triangle.css";
@import "../blocks/rotation/rotation.css";

/*resources*/

@import "../blocks/resources/resources.css";
@import "../blocks/digits/section-title/_theme/section-title_theme_dark.css";
@import "../blocks/digits/section-subtitle/_theme/section-subtitle_theme_dark.css";
@import "../blocks/resources/__logo-zone/resources__logo-zone.css";
@import "../blocks/resources/__logo/resources__logo.css";

/*footer*/

@import "../blocks/footer/footer.css";
@import "../blocks/footer/__columns/footer__columns.css";
@import "../blocks/footer/__column/footer__column.css";
@import "../blocks/footer/__column/_content/footer__column_content_copyright.css";
@import "../blocks/header/logo/_place/logo_place_footer.css";
@import "../blocks/footer/__author/footer__author.css";
@import "../blocks/footer/__column-heading/footer__column-heading.css";
@import "../blocks/footer/__column-links/footer__column-links.css";
@import "../blocks/footer/__column-link/footer__column-link.css";
@import "../blocks/footer/__icon/footer__icon.css";


















