.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 64px;
  position: relative;
  overflow: hidden;
}

.logo_place_header{
  width: 183px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 32px;
  z-index: 1;
}

.header__title{
  margin: 0;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle{
  margin: 0;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.header__link{
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic{
  width: 568px;
  height: 568px;
  background-color:  #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

/*секция description*/

.description{
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief{
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  padding: 0;
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}

.two-columns__paragraph:last-of-type{
  margin-bottom: 0;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/*секция digits*/

.digits{
  margin: 100px auto;
}

.section-title{
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 20px;
}

.section-subtitle{
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
}

.table{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
}

.table__cell{
  width: 250px;
  list-style: none;
  margin: 60px 0 0;
}

.table__heading{
  margin: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__text{
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

/*секция Feynman*/

.feynman{
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
  padding-top: 100px;
  min-height: 890px;
  box-sizing: border-box;
}

.feynman__title{
  width: 648px;
  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0 auto;
  z-index: 1;
}

.feynman__subtitle{
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  z-index: 1;
  margin: 70px 0 0;
}

.feynman__link{
  text-decoration: none;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
}

/*секция Kaufman*/

.kaufman{
  background-color: #1f1f1f;
  padding: 90px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.section-title_theme_dark{
  color: #fff;
}

.section-subtitle_theme_dark{
  color: #fff;
}

.table_theme_dark{
  color: #fff;
}

.table__cell_theme_dark{
  width: 200px;
  margin-top: 80px;
  margin-right: 0;
}

.kaufman__triangle{
  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

/*Footer*/

.footer{
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
}

.footer__columns{
  width: 90%;
  color: #fff;
  margin: 60px auto 40px;
  display: flex;
  justify-content: space-between;
}

.footer__column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer{
  width: 183px;
  height: 35px;
}

.footer__author{
  font-size: 18px;
  line-height: 25px;
  margin: 18px 0;
 }

.footer__column-heading{
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.footer__column-links{
  list-style: none;
  margin: 20px 0 16px;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.footer__column-link{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  word-spacing: 10px;
}

.footer__icon{
  padding-right: 10px;
}
