.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  margin-left: 48px;
  opacity: 1;
  transition: opacity .2s ease.1s;
}

.khan__buy-link:hover {
  opacity: .4;
}
